import("ggplot2")
import("MatchIt")
import("stats")

importFrom("grDevices", "nclass.FD", "nclass.Sturges", "nclass.scott",
           "rgb")
importFrom("graphics", "lines", "mtext", "polygon")
importFrom("utils", "combn", "data", "packageName",
           "setTxtProgressBar", "txtProgressBar",
           "packageDate", "packageVersion")

export("makeFrontier", "generateDataset", "frontier_to_matchit",
       "estimateEffects", "modelDependence")

S3method("makeFrontier", "formula")
S3method("makeFrontier", "data.frame")

S3method("print", "matchFrontier")
S3method("plot", "matchFrontier")
S3method("summary", "matchFrontier")
S3method("print", "summary.matchFrontier")

S3method("print", "modelDependenceBounds")
S3method("plot", "modelDependenceBounds")

S3method("print", "frontierEstimates")
S3method("plot", "frontierEstimates")
S3method("summary", "frontierEstimates")
S3method("print", "summary.frontierEstimates")